<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="font2/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Netflix</title>
</head>
<body>
    <div id="root">
            <header>
                <div class="logo">
                    <img :src="logo" alt="">
                </div>
                  <div class="avatar">
                      <img :src="avatar" alt="">
                  </div>
                  <div class="user">
                      <h3>S.Minotti</h3>
                  </div>
                 <div class="navBar">
                     <input v-model="serie" @keyup.enter="searchSerie(serie)"  type="text" name="" placeholder="cerca Serie tv" id="">
                     <input v-model="film" @keyup.enter="searchFilm(film)" @keyup.enter="selected(seleziona)" type="text" name="" placeholder="cerca Film per titolo" id="">
                  
                 </div>
            </header>
             
             <main>
                  <div  v-if="listaFilm.length > 0"  v-for="(carta) in listaFilm"  class="card">
                     <img :src="locandinaFilm(carta.poster_path)" alt="">
                      <div class="cover">
                        <h4>Title</h4>
                        <span>{{carta.title}}</span>
                        <h4>OriginalTitle</h4>
                        <span>{{carta.original_title}}</span>
                         <h4>Voto</h4>
                         <i style="color: red;" v-for=" stella in  voto(carta.vote_average)" class="fa-solid fa-star"></i>
                         <i style="color:white;" v-for="stella in 5 - voto(carta.vote_average) " class="fa-solid fa-star"></i>
                         <h4>Original Language</h4>
                            <div class="bandiera">
                                <img :src="flag(carta.original_language)" alt="">
                            </div>
                             <h4 style="margin-top: 5px;">Descrizione/Overview</h4>
                            <div class="descrizione">
                                <p>
                                    {{carta.overview}}
                                </p>
                            </div>
                      </div>
                  </div>
                  <div v-for="card in listaSerie" class="cardSerie">
                    <img :src="locandinaFilm(card.poster_path)" alt="">
                        <div class="coverSerie">
                            <h4>Title</h4>
                        <span>{{card.name}}</span>
                        <h4>Voto</h4>
                        <i style="color: red;" v-for=" stella in  voto(card.vote_average)" class="fa-solid fa-star"></i>
                        <i style="color:white;" v-for="stella in 5 - voto(card.vote_average) " class="fa-solid fa-star"></i>
                        <h4>Original Language</h4>
                        <div class="bandiera">
                            <img :src="flag(card.original_language)" alt="">
                        </div>
                        <h4 style="margin-top: 5px;">Descrizione/Overview</h4>
                        <div class="descrizione">
                            <p>
                                {{card.overview}}
                            </p>
                        </div>
     
                        </div>
                  </div>
                    <div v-if="(listaFilm.length < 1 )"  :class="(listaSerie.length > 1)?'active':'null'"  class="sfondo">
                        <img :src="sfondo" alt="">
                    </div>
             </main>
    </div>
    <script src="main.js"></script>
</body>
</html>